# CODEOWNERS for .project metadata repository
# Changes to project metadata require maintainer review.
* @aobort @gecube @kingdonb @klinch0 @kvaps @lllamnyp @matthieu-robin @mattia-eleuteri @nbykov0 @tym83
